<div class="max-w-6xl m-auto">
  <div class="flex items-center justify-between pb-4 mb-4 border-b">
    <h1 class="text-xl font-bold mb-0 uppercase text-gray-500">Profiles</h1>
    <div>
      <%= link_to 'Delete All Data',destroy_all_profiles_path, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
      <button class="modal-open btn btn-default">Import</button>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-between">
    <table class="text-left w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Company Name</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Sub Email</th>
          <th class="px-4 py-2">Kind</th>
        </tr>
      </thead>
      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td class="border px-4 py-2"><%= profile.id %></td>
            <td class="border px-4 py-2"><%= profile.company_name %></td>
            <td class="border px-4 py-2"><%= profile.name %></td>
            <td class="border px-4 py-2"><%= profile.email %></td>
            <td class="border px-4 py-2"><%= profile.sub_email %></td>
            <td class="border px-4 py-2"><%= profile.kind %></td>
        <%end%>
      </tbody>
    </table>
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
      
      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
          <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold">Import profiles</p>
            <div class="modal-close cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </div>

          <!--Body-->
          <%= form_with url: import_profiles_path do |f| %>
             <%= f.file_field 'profile[file]', label: false%>
             <button class="px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" type="submit">Go Go</button>
          <% end %>
        </div>
      </div>
    </div>


  <div>
</div>
